<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/assets/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="assets/js/calendar/dist/css/pignose.calendar.min.css" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://www.jqueryscript.net/demo/Clean-jQuery-Date-Time-Picker-Plugin-datetimepicker/jquery.datetimepicker.css"
    />
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/news.css" />

    <link rel="stylesheet" href="/assets/css/dataTables.bootstrap.css" />
    <link href="/assets/css/dataTables.responsive.css" rel="stylesheet">
    <link href="/assets/css/introjs.css" rel="stylesheet">
    <script src="/assets/js/jquery-2.2.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.validate.js"></script>
    <script src="/assets/js/jquery.datetimepicker.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/dataTables.responsive.js"></script>
    <script src="/assets/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/ckeditor/ckeditor.js"></script>
    <script src="/assets/js/intro.js"></script>
    <script src="/assets/js/jquery.dirrty.js"></script>
    <script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/assets/js/bootstrap-select.min.js"></script>
    <link href="https://silviomoreto.github.io/bootstrap-select/dist/css/bootstrap-select.min.css" />
</head>
<main>
    <div class="container">
        <div class="title-bar">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="">Users List</h1>
                </div>

            </div>
        </div>
        <div class="">
            <div id="signupalert" style="display:none" class="alert"></div>
            <a href="/post">
                <div class="">
                    <% if(userData.length > 0){ %>
                        <table width="100%" class="table responsive table-striped commuittee_table table-hover " id="tblemployee">
                            <tbody>
                                <% for(var i=0; i<(userData).length; i++) {%>
                                    <tr data-id="<%= userData[i].id %>">
                                        <td style="width:90px;">
                                            <div class="bd_d first">
                                                <div class="icons-radius">
                                                    <% if(userData[i].profilepicture) { %>

                                                        <img src="assets/uploads/profilepictures/thumb/<%= userData[i].profilepicture %>" />

                                                        <% } else { %>
                                                            <img src="<%= baseurl+'assets/images/default.png' %>" />
                                                            <% } %>


                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="bd_d detail-table">
                                                <h2 class="user_title">
                                                    <%= userData[i].firstname %>
                                                        <%= userData[i].lastname %>
                                                </h2>
                                                <p>
                                                    <%= userData[i].email_id %>
                                                </p>
                                                <div>
                                                    <% if(userData[i].status == true) { %>
                                                        <p>status: Active</p>
                                                        <% } else { %>
                                                            <p>status: Inactive</p>
                                                            <% } %>
                                                </div>

                                            </div>
                                        </td>

                                        <td width="120" class="tooltip-demo">
                                            <div class="bd_d  last">
                                                <div class="table-btn">
                                                    <% if(userData[i].status == true) { %>
                                                        <a class="btn-sm btn btn-outline-red btn-delete" href="/user/edit/<%= userData[i].id %>">InActive</a>
                                                        <% } else { %>
                                                            <a class="btn btn-default btn-sm" href="/user/changestatus/<%= userData[i].id %>">Active</a>
                                                            <% } %>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                        <% } else { %>

                            <% }%>


                </div>
            </a>
        </div>
    </div>
</main>

</html>